<%
	def gspTagLibraryLookup  // being automatically injected by spring
	def f

	public void afterPropertiesSet() {
	    f = gspTagLibraryLookup.lookupNamespaceDispatcher("f")
	    assert f
	}
	
	${f.field(property:p.name, required:required, prefix:prefix)}
%>
